DID_RPC_URL=
DID_NETWORK=testnet
DID_CACHE_DURATION=3600
# Admin username and password (for system operations)
# MUST be set to something random
DB_USER="admin"
DB_PASS="admin"
# Replication username and password (for replicating data to other nodes)
# MUST be set to something random
# MUST not change once the node is operational
DB_REPLICATION_USER=""
DB_REPLICATION_PASS=""

# Internal hostname (Used internally by the storage node for accessing CouchDb).
DB_PROTOCOL_INTERNAL="http"
DB_HOST_INTERNAL="localhost"
DB_PORT_INTERNAL=5984

# External hostname (returned to network users to access CouchDb)
DB_PROTOCOL_EXTERNAL="http"
DB_HOST_EXTERNAL="localhost"
DB_PORT_EXTERNAL=5984

# The public URI of this storage node server (Will match what is stored in DID Documents)
# Note: Must include the port and have NO trailing slash
ENDPOINT_URI="http://localhost:5000"

DB_REJECT_UNAUTHORIZED_SSL=true
ACCESS_JWT_SIGN_PK=insert-random-access-symmetric-key
# 5 Minutes
ACCESS_TOKEN_EXPIRY=300
REFRESH_JWT_SIGN_PK=insert-random-refresh-symmetric-key
# 30 Days
REFRESH_TOKEN_EXPIRY=2592000
DB_REFRESH_TOKENS=verida_refresh_tokens
# How often garbage collection runs (1=100%, 0.5 = 50%)
GC_PERCENT=0.1
# Verida Private Key as hex string (used to sign responses). Including leading 0x.
VDA_PRIVATE_KEY=
# Default maximum number of Megabytes for a storage context
DEFAULT_USER_CONTEXT_LIMIT_MB=10
# Maximum number of users supported by this node
MAX_USERS=10000

// alpha numeric only
DB_PUBLIC_USER=784c2n780c9cn0789
DB_PUBLIC_PASS=784c2n780c9cn0789
DB_DIDS=verida_dids
DB_REPLICATER_CREDS=verida_replicater_creds

PORT=5151
